/* css/style.css */
 
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: black;
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav a {
      color: rgb(224, 120, 120);
      margin-left: 1rem;
      text-decoration: none;
    }
    .title {
      text-align: center;
      margin-top: 2rem;
      font-size: 2rem;
      color: #00796b;
    }

    .navbar{
      display: block;
      overflow: auto;
    background: #0a0a0a;
    padding: 02px;
    }   
    .content {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }
    .image-section {
      display: flex;
      align-items: center;
      margin-top: 2rem;
    }
    .image-section img {
      width: 40%;
      margin-right: 2rem;
      border-radius: 3px;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      max-width: 600px;
      margin: 2rem auto;
    }
    .btn {
      padding: 0.75rem 1.5rem;
      background-color: #00796b;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #004d40;
    }
  